/* .newProduct {
  flex: 4;
  margin-left: 100px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
} */
.newProduct {
  width: 80%;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .newProduct {
    width: 100%;
  }
}
.addProductTitle {
  margin-left: 75px;
}
.addProductForm {
  margin-top: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.addProductItem {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}
.addProductItem input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.addProductItem select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input {
  border: 1px solid teal;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.price-input::-webkit-inner-spin-button,
.price-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.price-input:invalid {
  border-color: #dc3545;
}
.price-input:valid {
  border-color: #28a745;
}
.addProductButton {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 51px;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  border: 1.5px solid teal;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .addProductForm {
    grid-template-columns: auto;
  }
  .addProductForm {
    padding: 0;
  }
}

.searchWrapper {
  display: flex !important;
  flex-wrap: wrap !important;
}
