.banner-container {
  flex: 4;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.bannerForm {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}
.banner-title {
  margin-left: 52px;
}

.bannerItem {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.bannerItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}
.bannerItem input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.bannerItem select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input {
  border: 1px solid teal;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.price-input::-webkit-inner-spin-button,
.price-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.price-input:invalid {
  border-color: #dc3545;
}
.price-input:valid {
  border-color: #28a745;
}
.addBannerBtn button {
  /* padding: 4px 7px; */
  color: #fff;
  background-color: teal;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 6px;
  margin-left: 52px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .bannerForm {
    grid-template-columns: 1fr;
  }
  .banner-title {
    margin-left: 31px;
    font-size: 30px;
  }
  .addBannerBtn button {
    margin-left: 31px;
  }
}
