.container {
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.left-content {
  width: 70% !important;
  border: 1px solid teal;
}
.right-content {
  width: 30% !important;
  border: 1px solid teal;
}
