.superContainer {
  width: 100%;
}
.container {
  width: 100%;
  display: flex;
  gap: 4px;
}
.left-content {
  flex: 2;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.right-content {
  flex: 1;
  max-height: 300px;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.orderList {
  flex: 4;
}

.orderListItem {
  align-items: center;
}
.right-content h3 {
  font-weight: 500;
  padding: 14px;
}
.orderListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.cus_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  gap: 4px;
}
.cus_details h4 {
  font-weight: 600;
}
.shipping {
  margin-top: 25px;
  padding: 20px 30px;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .shipping {
    padding: 12px;
    flex-direction: column;
    gap: 30px;
  }
  .shipping h2 {
    font-size: 20px;
  }
}
